<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- NAVBAR -->
<nav th:fragment="navbar"
     class="bg-slate-900 shadow-lg border-b border-emerald-500/20">
    <div class="max-w-7xl mx-auto px-6 py-5 flex justify-between items-center">
        <!-- LOGO -->
        <a class="text-2xl font-bold text-emerald-400 tracking-wide" th:href="@{/}">
            🖥️Spring MVC Lab
        </a>

        <!-- Menu kanan -->
        <div class="space-x-6">
            <a th:href="@{/}" class="text-white hover:text-emerald-400 font-medium transition">
                Home
            </a>
            <a th:href="@{/products}" class="text-white hover:text-emerald-400 font-medium transition">
                Products
            </a>
            <a th:href="@{/about}" class="text-white hover:text-emerald-400 font-medium transition">
                About
            </a>
            <a th:href="@{/statistics}" class="text-white hover:text-emerald-400 font-medium transition">
                Statistics
            </a>
        </div>
    </div>
</nav>

<!-- footer -->
<footer th:fragment="footer" class="text-center py-2 mt-10">
    <div class="max-w-7xl mx-auto">
        <p class="font-semibold text-white">Spring MVC Lab © 2026</p>
    </div>
</footer>

</html>